.root {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-self: flex-start;
  padding: 0px 8px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - var(--token-c9dfRwU7m));
  width: calc(100% + var(--token-c9dfRwU7m));
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: var(--token-c9dfRwU7m);
}
.root {
  display: flex;
  position: relative;
  width: auto;
  height: auto;
  max-width: 100%;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  justify-self: flex-start;
  padding: 0px 8px;
}
.slotTargetIcon {
  font-size: var(--token-zXuA2tUoppBp);
  text-align: center;
}
.svg__leDpt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
  width: 32px;
  height: 100%;
  flex-shrink: 0;
  min-height: 0;
}
.text {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-size: var(--token-T8AeDz5hzyXq);
  font-weight: 500;
  font-family: "Inter", sans-serif;
  left: auto;
  top: auto;
  min-width: 0;
}
