.tripsView {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  position: relative;
  transition-property: all;
  transition-duration: 1s;
  grid-column-start: 1;
  grid-column-end: -1;
  -webkit-transition-property: all;
  -webkit-transition-duration: 1s;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .tripsView {
    width: 100%;
    grid-column-start: 2;
    grid-column-end: -2;
    padding: 0px;
  }
}
.menu:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
  position: relative;
  text-align: center;
  align-self: stretch;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: var(--token-LQT3YkZtgPzC);
  color: var(--token-u4-1U5i2CHHR);
  cursor: pointer;
  filter: none;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}
@media (min-width: 0px) and (max-width: 768px) {
  .menu:global(.__wab_instance) {
    flex-wrap: wrap;
    align-items: stretch;
  }
}
.tripTab:global(.__wab_instance) {
  max-width: 100%;
  object-fit: cover;
}
.text {
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.tripDetail:global(.__wab_instance) {
  position: relative;
}
